
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #333;
}


/*
*  HEADER AND MODALS
*/ 
.App-logo, .name {
  height: 30px;
  float: left;
}

.App-header {
  z-index: 1000;
  width: 100%;
  background-color: #337AB7;
  height: 55px;
  padding: 5px;
  color: white;
  position: absolute;
}
.logo, .name {
  font-size: 1.4em;
  font-weight: 800;
  color: white;
}

.userButtons {
  float: right;
}
.loginButton, .signupButton, .logoutButton, .userIcon{
  margin: 5px;
}

.modalButton {
  margin: 0 5px;
} 

/*
* HOMEPAGE BODY
*/
.imageDiv {
  height: 400px;
}
.homeImage {
  width: 100%;
  height: auto;
  top: 0;
  opacity: 0.8;
  filter: blur(6px);
  -moz-filter: blur(8px);
  -webkit-filter: blur(8px);
  -o-filter: blur(8px);
}
.jumbotron {
  top: 20%;
  border-radius: 8px;
  background: #eee;
  word-wrap: break-word;
  width: 50%;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  margin-left: 20px;
}

/*
* USER PROFILE PAGE
*/

.shadowbox {
  border-radius: 4px;
  box-shadow: 10px 10px 8px -10px rgba(0,0,0,0.4);
  background-color: white;
}

h1 {
  padding: 20px;
  font-size: 45px;
}

.profileField {
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.profileField button, .profileField span {
  display: inline-block;
}

.profileField span {
  font-size: 20px;
  margin-right: 10px;
  color: #333;
}

.profileField .label {
  width: 120px;
  text-align: left;
  color: #337AB7;
}

.profileField button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.profilePage {
  top: 55px;
  position: relative;
}

.userProfileLink, .logoutButton {
  display: inline-block;
}

.userProfileLink {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.userBankInfo, .userProfile {
  position: relative;
  height: 35vh;
  margin: 50px 20px 0px 20px;
  background-color: #f1f1f1;
}

.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: 'space-around';
}

.userProfile h1 {
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.userBankInfo {
  background-color: #BDD4E7;
  color: #001328;
}

.userBankInfo div button {
  height: 50px;
  width: 150px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 5px;
  background-color: #eee;
  border: 0px;
  box-shadow: inset -1px -1px 15px 0px rgba(200,200,200,0.75);
}


.userBankInfo div button span {
  font-size: 20px;
}

.userCharitiesContainer {
  border: 2px solid #d5e0ed;
  width: 90vw;
  margin-top: 40px;
}

.userCharitiesContainer h1{
  font-size: 48px;
  text-align: center
}

.userCharities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.userCharity {
  height: 150px;
  width: 480px;
  background-color: #f9f9f9;
  margin: 20px 30px;
  padding: 5px;
  position: relative;
}

.userCharity .title{
  width: 100%;
  display: block;
  margin: 10px 20px;
  font-size: 40px;
}

.userCharity .amount {
  font-size: 32px;
  margin: 0 20px;
  color: coral;
}

.userCharity .since {
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin: 0 20px;
  font-size: 20px;
  font-style: italic;
  color: #aaa;
}

.transactionHistory {
  width: 90vw;
  height: 40vh;
  margin: 50px 20px;
  background-color: #eee;
}



/*
* SEARCH PAGE
*/
.searchPage {
  top: 55px;
  width: 100%;
  position: relative;
}

.charityCard {
  width: 80%;
  margin: 10px auto;
}

.noResults {
  margin: 30px auto;
  text-align: center;
  color: lightgrey;
}
/*
* CHARITY PROFILE PAGE
*/
.charityProfilePage {
  top: 55px;
  position: relative;
  padding: 15px;
  width: 80%;
}

.addCharity, .removeCharity {
  float: right;
  position: fixed;
  top: 85px;
  right: 15px;
}

.addressHeader {
  font-weight: 800;
}

.address {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}

.charityClassification {
}

.charityLocation {
}

.corpInfo {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}
