.App {
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #333;
}

.App-logo, .name {
  height: 30px;
  float: left;
}

.App-header {
  z-index: 1000;
  width: 100%;
  background-color: #0066ff;
  height: 40px;
  padding: 5px;
  color: white;
  position: absolute;
}

.loginButton, .signupButton {
  float: right;
}

.App-footer {
  z-index: 1000;
  width: 100%;
  background-color: #0066ff;
  height: 40px;
  padding: 5px;
  color: white;
  position: absolute;
}

.imageDiv {
  height: 400px;
}
.homeImage {
  width: 100%;
  height: auto;
  top: 0;
  opacity: 0.8;
  filter: blur(6px);
  -moz-filter: blur(8px);
  -webkit-filter: blur(8px);
  -o-filter: blur(8px);
}
.jumbotron {
  top: 20%;
  border-radius: 8px;
  background: #eee;
  word-wrap: break-word;
  width: 50%;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  margin-left: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
