
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #333;
}


/*************** HEADER AND MODALS ***************/

.App-logo {
  position:relative;
  height: 145%;
  top: -15%;
  float: left;
}

.App-header {
  z-index: 1000;
  width: 100%;
  background-color: #337AB7;
  height: 55px;
  padding: 5px;
  color: white;
  position: absolute;
}
.logo, .name {
  font-size: 1.4em;
  font-weight: 800;
  color: white;
}

.userButtons {
  float: right;
  height: 55px;
}
.loginButton, .signupButton, .logoutButton, .userIcon, .navButton{
  margin: 5px;
}

.userProfileLink {
  font-weight: 200;
  color: white;
  position: relative;
  top: 9%
}

.modalButton {
  margin: 0 5px;
}

/*************** HOMEPAGE BODY ***************/

.imageDiv {
  height: 400px;
}

.infoSections {
  position: absolute;
  top: 60%;
}

.homeImage {
  width: 100%;
  height: auto;
  top: 0;
  opacity: 0.8;
  filter: blur(6px);
  -moz-filter: blur(8px);
  -webkit-filter: blur(8px);
  -o-filter: blur(8px);
}

.jumbotron {
  top: 20%;
  border-radius: 8px;
  background: #eee;
  word-wrap: break-word;
  width: 50%;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  margin-left: 20px;
}

/*************** USER PROFILE PAGE ***************/

.shadowbox {
  border-radius: 4px;
  box-shadow: 10px 10px 8px -10px rgba(0,0,0,0.4);
  background-color: white;
}

h1 {
  padding: 10px 20px;
  font-size: 45px;
  margin-top: 30px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.profilePage {
  top: 55px;
  position: relative;
}

.userProfileLink, .logoutButton {
  display: inline-block;
}

.userProfileLink {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.row {
  padding: 20px 10px 30px 10px;
}

/*************** User Profile Box ***************/

.welcome {
  font-size: 45px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-left: 20px;
}

.userProfile {
  height: 250px;
  width: 60vw;
  border: 1px solid #f1f1f1;
  padding: 20px;
  padding-right: 15vw;
  margin-top: 30px;
}

.userProfile .loginButton {
  margin-right: 160px;
}

.profileField {
  width: 100%;
  height: 40px;
}

.profileField .label {
  width: 170px;
  text-align: left;
  float: left;
  color: #337AB7;
}

.profileField span {
  font-size: 20px;
  color: #333;
}

.profileField button {
  float: right;
}

.stepBox, .userProfile {
  position: relative;
  background-color: #f1f1f1;
  padding: 5px 20px 0px 10px;
}

/*************** Step Box ***************/

.stepBox {
  width: 320px;
  height: 210px;
  text-align: center;
  background-color: #BDD4E7;
  color: #001328;
  font-size: 36px;
  padding: 20px 30px 30px 0;
  padding-right: 30px;
  padding-left: 30px;
}

.stepBox .linked {
  color: green;
  float: right;
  font-size: 30px;
  line-height: 20px;
}

.stepBox .linkText {
  /*font-size: 40px;*/
}

.stepBox .stepText {
  clear: both;
}

.stepBox .account {
  font-size: 24px;
}

.stepBox div button {
  margin-top: 15px;
  height: 50px;
  width: 150px;
}

.stepBox div button span {
  font-size: 22px;
}

.step {
  font-size: 24px;
}

.limit {
  font-size: 20px;
}

#limitInput {
  display: inline;
  margin-right: 5px;
  width: 150px;
  font-size: 18px;
}

.incomplete {
  border: 1px solid red;
}

.scrollButton {
  background-color: rgba(255,255, 255, 0);
  border: none;
  width: 100px;
}

.scrollButton:focus {
  outline: none;
}

/*************** User Charities Banners ***************/

.charitiesBanner {
  width: 100%;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  font-size: 40px;
}

.charitiesBanner .startButton {
  margin-top: 20px;
  max-width: 200px;
  font-size: 25px;
}

/*************** User Charities ***************/

.userCharitiesContainer {
  position: relative;
}

.userCharitiesContainer .editButton {
  position: absolute;
  top: 0px;
  right: 150px;
  font-size: 25px;
}


.userCharitiesContainer h1{
  font-size: 48px;
  text-align: center;
}

.userCharities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.userCharities a:hover {
  text-decoration: none;
}

.userCharity {
  width: 480px;
  margin: 20px 30px;
}

.percentInfo {
  display: inline-block;
  width: 30%;
  font-size: 40px;
  text-align: center;
  vertical-align: top;
  color: #337AB7;
}

.charityInfo {
  width: 70%;
  min-height: 100px;
  display: inline-block;
  position: relative;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

a:hover .charityInfo{
  background-color: #eee;
}

.dim {
  opacity: 0.5;
}

.charityInfo div {
  margin: 0 20px;
}

.charityInfo .title {
  margin-top: 10px;
  font-size: 24px;
  color: #353F49;
}

.charityInfo .goalReached {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: green;
}

.charityInfo .amount, .charityInfo .since {
  position: absolute;
  bottom: 10px;
}

.charityInfo .amount {
  font-size: 32px;
  color: #ff7f50;
}

.charityInfo .since {
  right: 20px;
  font-size: 20px;
  font-style: italic;
  color: #aaa;
}

/*************** User Custom Causes ***************/

.customCauses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customCause {
  width: 80%;
  margin: 10px;
  background-color: #f7f7f7;
  padding: 20px;
}

.customCause .title {
  font-size: 32px;
}

.customCause .contributors {
  font-size: 20px;
  padding: 10px 0 0 30px;
  float: left;
}

.customCause .amount{
  font-size: 24px;
  padding: 10px 0 0 30px;
  float: right;
}

.customCause .percentage {
  font-size: 36px;
  float: right;
}

.percentage {
  margin-left: 15px;
}

/*************** User Transactions ***************/

.userTransactionsContainer {
  background-color: #eee;
  padding: 40px;
  margin-top: 40px;
}

.userTransactionsContainer h1 {
  margin-top: 10px;
}

.transactionHistory {
  width: 100%;
  margin-top: 20px;
}

/*************** SEARCH PAGE ***************/
.searchPage {
  top: 55px;
  width: 100%;
  position: relative;
}

.charityCard {
  width: 80%;
  margin: 10px auto;
}

.noResults {
  margin: 30px auto;
  text-align: center;
  color: lightgrey;
}

.dropdownCat {
  height: auto;
  width: auto
}

.pagination {
  position: relative;
  left: 26%;
}

/*************** CHARITY PROFILE PAGE ***************/

.charityProfilePage {
  top: 55px;
  position: relative;
  padding: 15px;
  width: 80%;
}

.addCharity, .removeCharity {
  float: right;
  position: fixed;
  top: 85px;
  right: 15px;
}

.addressHeader {
  font-weight: 800;
}

.address {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}

.charityClassification {
}

.charityLocation {
}

.corpInfo {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}
.percentageError {
  color: red;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

/*************** About Us Page ***************/

.aboutUsSection {
  position: absolute;
  top: 30%;
  font-size: 16pt;
}

/*************** Contact Us Page ***************/

.contactUsSection {
  position: absolute;
  top: 20%;
  left: 32%;
  font-size: 20pt;
}
