
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #333;
}


/*
*  HEADER AND MODALS
*/
.App-logo, .name {
  height: 145%;
  float: left;
}

.App-header {
  z-index: 1000;
  width: 100%;
  background-color: #337AB7;
  height: 55px;
  padding: 5px;
  color: white;
  position: absolute;
}
.logo, .name {
  font-size: 1.4em;
  font-weight: 800;
  color: white;
}

.userButtons {
  float: right;
  height: 55px;
}
.loginButton, .signupButton, .logoutButton, .userIcon, .navButton{
  margin: 5px;
}

.userProfileLink {
  font-weight: 800;
  color: white;
  position: relative;
}

.modalButton {
  margin: 0 5px;
}

/*
* HOMEPAGE BODY
*/
.imageDiv {
  height: 400px;
}
.homeImage {
  width: 100%;
  height: auto;
  top: 0;
  opacity: 0.8;
  filter: blur(6px);
  -moz-filter: blur(8px);
  -webkit-filter: blur(8px);
  -o-filter: blur(8px);
}
.jumbotron {
  top: 20%;
  border-radius: 8px;
  background: #eee;
  word-wrap: break-word;
  width: 50%;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  margin-left: 20px;
}

/*
* USER PROFILE PAGE
*/

.shadowbox {
  border-radius: 4px;
  box-shadow: 10px 10px 8px -10px rgba(0,0,0,0.4);
  background-color: white;
}

h1 {
  padding: 10px 20px;
  font-size: 45px;
  margin-top: 30px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.profilePage {
  top: 55px;
  position: relative;
}

.userProfileLink, .logoutButton {
  display: inline-block;
}

.userProfileLink {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.row {
  padding: 20px 10px 30px 10px;
  // border: 1px solid brown;
}

.col {
  // border: 1px solid red;
}

.welcome {
  font-size: 45px;
  margin-bottom: 30px;
}

.stepBox, .userProfile {
  position: relative;
  background-color: #f1f1f1;
  padding: 5px 20px 0px 10px;
}

.userProfile {
  height: 250px;
  width: 60vw;
  border: 1px solid #f1f1f1;
  padding: 20px;
  padding-right: 15vw;
  margin-top: 30px;
}

.stepBox {
  height: 210px;
  padding-top: 20px;
  padding-left: 20px;
}

.profileField {
  width: 100%;
  height: 40px;
}

.profileField .label {
  width: 170px;
  text-align: left;
  float: left;
  color: #337AB7;
}

.profileField span {
  font-size: 20px;
  color: #333;
}

.profileField button {
  float: right;
}

.stepBox {
  text-align: center;
  background-color: #BDD4E7;
  color: #001328;
}

.stepBox .linked {
  color: green;
  float: right;
  font-size: 30px;
  line-height: 20px;
}

.stepBox .linkText {
  font-size: 40px;
}

.stepBox .stepText {
  clear: both;
  font-size: 40px;
  margin: auto 0;
}

.stepBox .account {
  font-size: 24px;
}

.stepBox div button {
  height: 50px;
  width: 150px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 5px;
  background-color: #eee;
  border: 0px;
  box-shadow: inset -1px -1px 15px 0px rgba(200,200,200,0.75);
}


.stepBox div button span {
  font-size: 20px;
}

.step {
  font-size: 24px;
}

.limit {
  font-size: 20px;
}

#limitInput {
  display: inline;
  margin-right: 5px;
  width: 200px;
}

.userCharitiesContainer {
  position: relative;
  border: 2px solid #d5e0ed;
  margin-top: 40px;
  padding-top: 30px;
}

.userCharitiesContainer .addButton {
  position: absolute;
  top: 50px;
  right: 70px;
  font-size: 25px;
}

.userCharitiesContainer h1{
  margin-top: 20px;
  font-size: 48px;
  text-align: center;
}

.userCharities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.userCharities a:hover {
  text-decoration: none;
}

.userCharity {
  width: 480px;
  margin: 20px 30px;
}

.percentInfo {
  display: inline-block;
  width: 30%;
  font-size: 40px;
  text-align: center;
  vertical-align: top;
  color: #337AB7;
}

.charityInfo {
  width: 70%;
  min-height: 100px;
  display: inline-block;
  position: relative;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

a:hover .charityInfo{
  background-color: #eee;
}

.dim {
  opacity: 0.5;
}

.charityInfo div {
  margin: 0 20px;
}

.charityInfo .title {
  // width: 100%;
  margin-top: 10px;
  font-size: 24px;
  color: #353F49;
}

.charityInfo .goalReached {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: green;
}

.charityInfo .amount, .charityInfo .since {
  position: absolute;
  bottom: 10px;
}

.charityInfo .amount {
  font-size: 32px;
  color: #ff7f50;
}

.charityInfo .since {
  right: 20px;
  font-size: 20px;
  font-style: italic;
  color: #aaa;
}

.userTransactionsContainer {
  width: 90vw;
  background-color: #eee;
  padding: 20px;
  margin-top: 40px;
}

.transactionHistory {
  width: 100%;
  height: 40vh;
  margin-top: 20px;
}

/*
* SEARCH PAGE
*/
.searchPage {
  top: 55px;
  width: 100%;
  position: relative;
}

.charityCard {
  width: 80%;
  margin: 10px auto;
}

.noResults {
  margin: 30px auto;
  text-align: center;
  color: lightgrey;
}
/*
* CHARITY PROFILE PAGE
*/
.charityProfilePage {
  top: 55px;
  position: relative;
  padding: 15px;
  width: 80%;
}

.addCharity, .removeCharity {
  float: right;
  position: fixed;
  top: 85px;
  right: 15px;
}

.addressHeader {
  font-weight: 800;
}

.address {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}

.charityClassification {
}

.charityLocation {
}

.corpInfo {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}
.percentageError {
  color: red;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}
